@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-bg: rgb(19, 18, 18);
$color-font: #ffffff;
$color-main: #E31D42;
$font-main: 'Montserrat', sans-serif;

main {
    padding: 0 0;
    font-family: $font-main;
    font-weight: 300;

    .wrap-info {
        background-color: rgba(0, 0, 0, 0.308);
        padding: 60px 0;
    }

    .section-info  {
        max-width: 73%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        visibility: hidden;

        .info {
            flex: 1 1 auto;
            padding: 30px 0 0 200px;

            h2 {
                max-width: 700px;
                margin: 0 0 0 0;
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 5px;
            }

            p {
                max-width: 900px;
                margin: 20px 0;
                line-height: 30px;
            }
        }

        .info-img {
            flex: 0 0 250px;

            svg {
                width: 100%;
                transition: 0.8s;
                transform: rotateZ(-15deg) rotateY(25deg);
                filter: drop-shadow(0 0 3px #E31D42);

                animation-name: updownicon;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            svg:hover {
                transition: 2s;
                filter: drop-shadow(0 0 20px #7e1024);
            }
        }
    }

    .info-down {
        visibility: visible;

        animation-name: horizontalslidein;
        animation-duration: 1s;

    }
}

@media (max-width: 1250px) {
main {
    
    .wrap-info {
        background-color: rgba(0, 0, 0, 0.308);
        padding: 0;
    }

    .section-info{
        flex-flow: column-reverse;

        .info {
            padding: 50px 0;
            text-align: center;

            h1 {
                max-width: 100%;
            }
        }

        .info-img {
            display: none;
        }
    }
}
}

@media (max-width: 750px) {
main {

    .wrap-info {
        background-color: rgba(0, 0, 0, 0.308);
        padding: 0;
    }

    .section-info{
        flex-flow: column-reverse;
        max-width: 85%;
    
        .info {
            padding: 40px 0;
            text-align: center;
    
            h1 {
                max-width: 100%;
                font-size: 25px;
            }

            p {
                font-size: 15px;
            }
        }
    
        .info-img {
            display: none;
        }
    }
}
}

@keyframes updownicon {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-30px);
    }
}

@keyframes horizontalslidein {
    from {
        margin-top: -100px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}