@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-bg: rgb(19, 18, 18);
$color-font: #ffffff;
$color-main: #E31D42;
$font-main: 'Montserrat', sans-serif;

main {
    padding: 0 0;
    font-family: $font-main;
    font-weight: 300;

    .section-home  {
        max-width: 73%;
        margin: 70px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 0 0 0;

        .title {
            flex: 1 1 auto;
            padding: 0 100px 0 0;

            h1 {
                max-width: 700px;
                margin: 0 0 50px 0;
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 5px;
            }

            h1:after {
                content: "";
                margin: 0 0 0 10px;
                border-right: 2px solid #E31D42;

                animation-name: blinkdot;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                
            }

            a {
                background-color: #e31d4100;
                color: #ffffff;
                font-family: $font-main;
                font-size: 20px;
                border: 1px solid #E31D42;
                box-shadow: 0 8px 0 #7a1024;

                padding: 10px 50px;
                cursor: pointer;
                transition: 1s;

                text-decoration: none;
            }

            a:hover {
                background-color: #E31D42;
                transition: 1s;
                padding: 10px 80px;
            }
        }

        .info-img {
            flex: 0 0 450px;

            svg {
                width: 100%;
                transition: 0.8s;
                transform: rotateZ(-15deg) rotateY(25deg);
                filter: drop-shadow(-10px 10px 0 #E31D42);

                animation-name: rotateicon;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            svg:hover {
                transition: 2s;
                fill:#E31D42;
                filter: drop-shadow(-10px 10px 0 #7e1024);
            }
        }
    }
}

@media (max-width: 1250px) {
    main {
        .section-home{
            flex-flow: column-reverse;
    
            .title {
                padding: 50px 0;
                text-align: center;
    
                h1 {
                    max-width: 100%;
                }
            }
    
            .info-img {
                width: 150px;
                flex: 0 0 auto
            }
        }
    }
}

    
@media (max-width: 750px) {
    main {
        .section-home{
            flex-flow: column-reverse;
            max-width: 85%;
        
            .title {
                padding: 40px 0;
                text-align: center;
        
                h1 {
                    max-width: 100%;
                    font-size: 25px;
                }
    
                p {
                    font-size: 15px;
                }
            }
        
            .info-img {
                width: 100px;
                flex: 0 0 auto
            }
        }
    }
}    

@keyframes rotateicon {
        from {
            transform: rotateZ(-15deg) rotateY(25deg);
        }
    
        to {
            transform: rotateZ(15deg) rotateY(-25deg);
            filter: drop-shadow(10px -10px 0 #7e1024);
        }
}

@keyframes lateralslidein {
        from {
            margin-left: -100px;
        }
    
        to {
            margin-left: 0;
        }
}

@keyframes blinkdot {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
}