@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@300;500;600&display=swap");
main .section-projetos {
  width: 76%;
  margin: 110px auto;
  display: grid;
  grid-template-areas: "a a" "b c";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px auto;
}
main .section-projetos h2 {
  grid-area: a;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
}
main .section-projetos .galeria {
  visibility: hidden;
  grid-area: b;
  display: grid;
  grid-template-areas: "a b" "c d";
}
main .section-projetos .galeria .proj {
  position: relative;
  width: 90%;
  height: 200px;
  padding: 0px;
  border-radius: 5px;
  border: 2px solid #E31D42;
  background-color: rgb(19, 18, 18);
  overflow: hidden;
  margin: 15px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 8px 0 #ac1631;
}
main .section-projetos .galeria .proj img {
  width: 100%;
  height: 100%;
}
main .section-projetos .galeria .proj span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25% auto;
  text-transform: uppercase;
  font-weight: 500;
}
main .section-projetos .galeria .proj .fig-bg {
  position: absolute;
  background-color: #E31D42;
  color: #ffffff;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 80px;
  margin: 0 0 -17px -10px;
  font-size: 15px;
  text-align: center;
  padding: 0 0 0 25px;
  transform: rotate(6deg);
  display: flex;
  align-items: center;
}
main .section-projetos .galeria .proj p {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  transform: rotate(0deg);
  margin: 15px 15px;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
main .section-projetos .galeria .proj .clickable {
  background-color: rgba(0, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
main .section-projetos .galeria .clickable-active {
  background-color: rgba(227, 29, 65, 0.3843137255) !important;
}
main .section-projetos .galeria div:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
main .section-projetos .galeria-info {
  grid-area: c;
  padding: 30px 60px;
  visibility: hidden;
}
main .section-projetos .galeria-info div {
  -webkit-animation-name: galeriainfo;
          animation-name: galeriainfo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
main .section-projetos .galeria-info div h3 {
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  margin: 0 0 15px 0;
}
main .section-projetos .galeria-info div p {
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 25px;
}
main .section-projetos .galeria-info div ul {
  list-style-position: inside;
  margin: 0 0 60px 0;
}
main .section-projetos .galeria-info div .links-wrap {
  display: flex;
}
main .section-projetos .galeria-info div .links-wrap a {
  border: 1px solid #E31D42;
  border-radius: 8px;
  padding: 10px;
  margin: 0 20px 0 0;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  width: 180px;
  justify-content: space-around;
  transition: 0.3s;
  box-shadow: 0 5px 0 #851126;
}
main .section-projetos .galeria-info div .links-wrap a img {
  width: 20px;
}
main .section-projetos .galeria-info div .links-wrap a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
main .section-projetos .galeria-info .div-projeto-1 {
  display: block;
}
main .section-projetos .galeria-info .div-projeto-2 {
  display: none;
}
main .section-projetos .galeria-info .div-projeto-3 {
  display: none;
}
main .section-projetos .galeria-info .div-projeto-4 {
  display: none;
}
main .section-projetos .galeria-scroll {
  visibility: visible;
  -webkit-animation-name: galeria;
          animation-name: galeria;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
main .section-projetos .galeria-info-scroll {
  visibility: visible;
  -webkit-animation-name: galeriainfo;
          animation-name: galeriainfo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes galeria {
  from {
    transform: translateX(-180px);
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}

@keyframes galeria {
  from {
    transform: translateX(-180px);
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}
@-webkit-keyframes galeriainfo {
  from {
    transform: translateX(180px);
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}
@keyframes galeriainfo {
  from {
    transform: translateX(180px);
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}
@media (max-width: 1250px) {
  main .section-projetos {
    display: flex;
    flex-direction: column;
  }
  main .section-projetos h2 {
    margin: 60px 0;
  }
  main .section-projetos .galeria {
    display: flex;
  }
  main .section-projetos .galeria .proj {
    height: 170px;
  }
  main .section-projetos .galeria-info {
    text-align: center;
  }
  main .section-projetos .galeria-info .links-wrap {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  main .section-projetos h2 {
    font-size: 30px;
  }
  main .section-projetos .galeria {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .section-projetos .galeria .proj {
    width: 300px;
  }
  main .section-projetos .galeria-info {
    display: none;
  }
}/*# sourceMappingURL=projects.css.map */